# Make a copy of this file under the name "CHOP.env" in the same directory
# and fill in the environment variables
# It can't be called ".env" because Flask gets tripped up with that in a parent
# directory for some reason https://github.com/theskumar/python-dotenv/issues/284
DB_HOST=10.30.22.12
DB_USER=postgres
DB_PSWD=
DB_NAME=metadata
URL=https://metadatachecker.tkg.research.chop.edu