{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<body>
    {% if project_id == None %}
        <!--Select project-->
        <div class="card">
            <div class="card-body">
                <form action="{{ '/download' }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label>Project: </label>
                    <select name="project" id="project">
                        {% for project in projects %}
                            <option value="{{ project }}">{{ project }}</option>
                        {% endfor %}
                    </select> <br />
                    <button type="submit" class="btn btn-success">Select Project</button>
                  </div>
                </form>
              </div>
        </div>
    {% elif submission_id == None %}
        <!--Select submission-->
        <div class="card">
            <div class="card-body">
                <form action="{{ '/download' }}" method="POST" enctype="multipart/form-data">
                  <div class="form-group">
                    <label>Submission: </label>
                    <select name="submission" id="submission">
                        {% for submission in submissions %}
                            <option value="{{ submission }}">{{ submission }}</option>
                        {% endfor %}
                    </select> <br />
                    <button type="submit" class="btn btn-success">Download Submission Metadata</button>
                  </div>
                </form>
              </div>
        </div>
    {% else %}
        <!--Download metadata-->
        <p>Your metadata download should start shortly...</p>
    {% endif %}
</body>
{% endblock %}
