{% extends 'base.html' %}

{% block head %}
<div class="col-sm-auto">
  <a href="/download" class="btn btn-primary" name="download" href="/download">Get Metadata</a>
</div>
{% endblock %}

{% block body %}
<body>
  {% if request.method == 'POST' %}
    <div class="card">
      <p>New project created! URL: http://127.0.0.1:5000/{{ code }}</p>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        <form action="{{ '/' }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Project Name: </label>
            <input type="text" name="project_name" id="project_name"></input><br />
            <label>Contact Name: </label>
            <input type="text" name="contact_name" id="contact_name"></input><br />
            <label>Contact Email: </label>
            <input type="text" name="contact_email" id="contact_email"></input><br />
            <button type="submit" class="btn btn-success">Create New Project</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
</body>
{% endblock %}
