{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<body>
  {% if request.method == 'POST' %}
    <div class="card">
      <p>{{ project_code }} submitted.</p>
      <a href="{{url_for('index')}}">Go To Home</a>
    </div>
  {% else %}
    <div class="card">
      <div class="card-body">
        <form action="{{ '/review/' + project_code }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label>Comments (optional):</label><br />
            <textarea name="comment" id="comment" style="height: 300px; width: 450px;"></textarea><br />
            <button type="submit" class="btn btn-success">Upload metadata</button>
          </div>
        </form>
      </div>
    </div>
  {% endif %}
</body>
{% endblock %}