{% extends 'base.html' %}

{% block body %}
  <div class="card m-3">
    <h5 class="m-3">Please submit your project id below to get to the metadata submission page.</h5>
    <form action="{{ '/' }}" method="POST" enctype="multipart/form-data">
      <div class="row m-3">
        <div class="form-group">
          <label for="ticket_code">Project ID</label>
          <input
            class="form-control"
            name="ticket_code"
            id="ticket_code"
            aria-describedby="help"
            placeholder="Enter project ID...">
          <small id="help" class="form-text text-muted">If you received a URL, this should be the string of alphanumeric characters at the end.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-success m-3">GO</button>
    </form>
  </div>
{% endblock %}
