{% extends 'base.html' %}

{% block body %}
  <div class="card m-3">
    <h5 class="m-3">Please submit your project id below to get to the metadata submission page.</h5>
    <form action="{{ '/' }}" method="POST" enctype="multipart/form-data">
      <div class="row m-3">
        <div class="form-group">
          <label for="ticket_code">Project ID</label>
          <input
            class="form-control"
            name="ticket_code"
            id="ticket_code"
            aria-describedby="help"
            placeholder="Enter project ID...">
          <small id="help" class="form-text text-muted">If you received a URL, this should be the string of alphanumeric characters at the end.</small>
        </div>
      </div>
      <button type="submit" class="btn btn-success m-3">GO</button>
    </form>
  </div>

  <div class="p-4">
    <h3> Welcome to the CHOP Microbiome Metadata Checker! </h3>
    <p class="w-50">This website is used to validate your metadata spreadsheet used in bioinformatics analyses for the PennCHOP Microbiome Center. It will parse your spreadsheet to ensure it fulfills certain specifications and display error messages for columns and cells that do not meet these specifications.</p>

    <p class="w-50">To get started, enter your project code above or go directly to the URL you were received. Once there, you can Upload Metadata (csv, tsv, or txt files only; if you have an Excel sheet you'll have to export it to one of these formats) and the checker will determine if there are any issues. If there are none, you can Submit Metadata, provide an optional comment, and then you'll be done! If there are issues but they won't break anything immediately, you can proceed but with caution. If there are breaking issues, you will have to fix them and reupload your metadata.</p>

    <p class="w-50">To view previous submissions for your project, enter your project code and Go. On the metadata submission page you will see a list of your most recent submissions.</p>
  </div>
{% endblock %}
