{% extends 'base.html' %}
{% import 'macros.jinja' as macros %}

{% block head %}
{% endblock %}

{% block body %}

<body>
  <div class="card m-3">
    <h2 class="m-3">{{project.project_name}}</h2>
    <h3 class="m-3">{{project.contact_name}} :-: {{project.contact_email}}</h3>
    <div class="card-body">
      <form action="{{ '/submit/' + project.ticket_code }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select metadata file</label>
          <div class="row">
            <div class="col-sm">
              <div class="custom-file">
                <input type="file" class="custom-file-input" name="metadata_upload" id="metadata_upload">
                <label class="custom-file-label" for="metadata_upload" id="filename">{{ filename }}</label>
              </div>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-success">Upload metadata</button>
            </div>
          </div>
        </div>
      </form>

      {% if checks is defined %}
        {% if checks['passed'] %}
          <a href="{{ url_for('review', ticket_code=project.ticket_code) }}" class="btn btn-success">Submit Metadata</a>
        {% elif is_importable %}
          <a href="{{ url_for('review', ticket_code=project.ticket_code) }}" class="btn btn-warning" onclick="return confirm('There are still issues in your metadata. Are you sure you want to submit with these issues?')">Submit Metadata</a>
          <i>There are still issues flagged by the checker but you can submit if you want.</i>
        {% else %}
          <i>There are schema-breaking issues flagged by the checker. You must resolve these issues before you can submit.</i>
        {% endif %}
      {% endif %}
    </div>
  </div>
    
  <div>
    {% if checks is defined and table is defined %}
      {{ macros.table(table, checks) }}
    {% endif %}
  </div>
</body>
{% endblock %}
