{% extends 'base.html' %}

{% block body %}
<table class="display" id="projects">
    <thead>
        <tr>
        <th>Ticket Code</th>
        <th>Name</th>
        <th>Contact Name</th>
        <th>Contact Email</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td><a href="{{ url_for('show_project', ticket_code=project.ticket_code) }}">{{ project.ticket_code }}</a></td>
            <td>{{ project.project_name }}</td>
            <td>{{ project.contact_name }}</td>
            <td>{{ project.contact_email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
$(document).ready(function () {
    /* Initialize the DataTable */
    oTable = $('#projects').dataTable({
        "bSort": false,
        "iDisplayLength": 20,
        "bLengthChange": false,
        "sPaginationType": "full_numbers",
        "bStateSave": true,
    });

    /* Move search box to bottom of summary area */
    $("#projects_filter").appendTo('#projects_summary');

    /* Snap pagination info to grid */
    $("#projects_info").addClass("span-12");
    $("#projects_paginate").addClass("span-12 last")

    /* Moving the search box breaks the state saving routine */
    /* Redraw manually */
    oTable.fnDraw();
});
</script>
{% endblock %}